
.page-not-found .content-inner {
    font-family: 'Quicksand'!important;
    font-size: 36px!important;
    text-align: center!important;
    min-height: calc( 100vh - #{$header-height} - 849px );
    line-height: calc( 100vh - #{$header-height} - 849px );
}

section#content .content-inner {
    position: relative;
    display: block;
    padding: 42px;
    color: #000;
    line-height: 1.4;
    
    .title, .sub-title{ margin: 0 0 16px 0; }
    .title{
        font-size: 23px;
    }
    
    .sub-title{
        font-size: 18px;
    }
    
    .text{
        font-size: 15px;
        font-family: 'Quicksand';
    }

}
