

footer{
    position: relative;
    width: 100%; heigth: auto;
    padding: 32px; 
    background-color: lighten( $blue-500, 10% );
    color: #eee;
    font-family: 'Quicksand'!important;
    font-size: 15px;
    line-height: 1.7;
    
    & > * { 
        margin-bottom: 48px; 
        transition: $transition;
    }
    
    .menu > *{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .menu a{
        color: #222;
        text-decoration: none;
    }
    
    .logo{
        * { fill: white; }

        .icon svg{
            width: 48px;
            height: 48px;
        }

        .text svg{
            width: 200px;
            height: 200px;
            margin-top: -76px;
            margin-bottom: -96px;
        }
    }
    
    .inner{ position: relative; width: auto; transform: none; }
    .inner > * { margin-bottom: 48px; } 
}
