

#sidebar{
    width: 100%;
    height: auto;
    font-family: $font-stack;
    margin-bottom: 24px;
    
    *{ font-family: inherit; }
    .sidebar-elem{
        position: relative;
        width: 100%;
        height: 210px;
        background-size: cover;
        background-position: center;
        
        &:hover .overlay{ background-color: rgba(white, .2); }
        .overlay{
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: rgba(white, 0);
            transition: 0ms ease-in-out;
        }

        .title{
            position: absolute;
            left: 0; bottom: 14px;
            width: 100%; height: 48px;
            background-color: rgba(white, .85);
            padding-left: 16px;
            font-size: 19px;
            color: black;
            line-height: 48px;
        }
        
        .breakline{
            position: absolute;
            bottom: 0;
        }
    }
}
