
// Styles
$font-stack: 'Crimson Text', serif;
$blue-300: #85bde9;
$blue-500: #508ebe;
$blue-700: #5c788e;

$transition: 300ms cubic-bezier(.62, 0, .36, 1);

// Dimensions
$header-height: 114px;
$header-contact-height: 38px;
$side-bar-width: 250px;

// Breakpoints
$mobile-bp: 640px;