

@media screen and ( min-width: $mobile-bp ) {
    section#content {
        display: inline-block;
        width: 100%; height: auto;
        
        .content-inner{
            display: inline-block;
            width: calc( 100% - 350px );
            padding-right: 32px;
        }
        
        & > .breakline{ 
            display: none;
        }
    }
}

@media screen and ( min-width: 900px ) {
    section#content{
        .content-inner{
            padding-right: 96px;
            padding-left: 96px;
        }
    }
}

@media screen and ( min-width: 1500px ) {
    section#content{
        .content-inner{
            padding-right: 156px;
            padding-left: 156px;
        }
    }
}

@media screen and ( min-width: 1800px ) {
    section#content{
        padding: 0 300px;
    }
}