
@media screen and ( min-width: $mobile-bp ) {
    footer{
        padding-top: 64px;
        padding-left: 96px;
        .inner{ position: relative; width: auto; transform: none; }
        .inner > * { margin-bottom: 48px; } 
    }
}

@media screen and ( min-width: 970px ) {
    footer{
        position: relative;
        height: 380px;
        
        .inner{
            width: calc( 100% - 92px );
            max-width: 1200px;
            position: absolute;
            top: 48px; left: 50%;
            transform: translate(-50%, 0);

            & > * { 
                display: inline-block;
                margin-left: 96px;
                vertical-align: top;
            }
            
            .menu{
                position: absolute;
                right: 64px;
            }

        }
    }
}
