// Larger screens
@media screen and ( min-width: $mobile-bp ) {
    #main-container{ padding-top: 85px; }
    #topbar{
        height: 85px;
        
        .contact{
            position: absolute;
            top: 0; right: 0;
            width: calc( ( #{$header-contact-height} + 4px ) * 1 + 150px );
            
            .fb{ display: inline-block!important; }
        }
        
        #navigation{
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            
            .content{
                position: absolute;
                top: auto; bottom: -50px; left: 0;
                width: auto; height: 36px;
                background-color: transparent;
                font-size: 0;
                display: block;
                
                &:before{display: none;}

                .menu-item{
                    width: auto;
                    display: inline-block;
                    border-right: 1px solid #555;
                    background-color: $blue-300;
                    
                    a{
                        display: block;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 24px;
                        font-size: 15px;
                        color: white;
                        text-decoration: none;
                        border-bottom: none;
                    }
                    
                    &:hover{
                        background-color: lighten($blue-300, 2%);
                    }
                    
                    &.current-menu-item{
                        background-color: $blue-700;
                    }
                }
            }
                
            #hamburger{ display: none; }
        }
        
        .logo{
            position: relative;
            margin-left: 0;
            height: 100%;
        }
        
        .phone-outer{
            width: calc( 100% - ( #{$header-contact-height} + 4px ) * 1 )!important;
            
            .phone-inner{
                width: 120px!important;
            }
        }
    }
}
